.calendar {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

section.title {
  margin-top: -120px;
  height: 500px;
  color: var(--lightyellow);
}

section.title p {
  font-size: 14px;
  font-family: "Monaco", sans-serif;
}

section .header {
  padding-top: 5px;
  font-size: 36px;
  margin-top: 50px;
  color: var(--lightyellow);
}

.selected {
  background-color: var(--lightyellow);
  color: var(--darkblue);
}